$ yellow:#fffa19;
.jumbotron{
	color: yellow ;
	background-color:lightblue;
     padding: 50px 50px 10px 0px;
}
footer{
	padding: 10px 10px 0 10px;
	background-color : lightblue;
	margin-bottom: 50px
	margin-top:10px

}

img{
	 top: -10px
    height: 500px
 
}
.footer-address-icon{
	padding-right: 10px;
}