<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilo.css">

    <title>soldadores.</title >
  </head>
  <body>
    <hr>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">soldadores</a>
      <button class="navbar-toggler" type="button" data-toggler="collapse" data target="#navbarSupportedContent" aria-controls="navbarNavDropdown"aria-expanded="false" aria-label="Toggle navigation"> 
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="#navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="./index.html">Home</a> </li>
          <li class="nav-item active"><a class="nav-link" href="./about.html">nosotros</a> </li>
          <li class="nav-item"><a class="nav-link" href ="./contact.html">contactanos</a> </li>
         <li class="nav-item"><a class="nav-link" href ="./trabajos.html">trabajos</a> </li>
          <li class="nav-item"><a class="nav-link" href ="#">Terminos y condiciones</a> </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron">
      <h1>soldadores.</h1>
           
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./index.html">home</a> </li>
        <li class="breadcrumb-item active" aria-current="page">nosotros</li>
      </ol>
      <div class="row">
        <div class="col-sm-4">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#funciona" aria-expanded="false" aria-controls="multicollapse1">como funciona</button>
           <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#voltios" aria-expanded="false" aria-controls="multicollapse2">que voltios ofresen</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pago" aria-expanded="false" aria-controls="multicollapse3">maneras de pago</button>
          </div>
        </div>



      <div class="row">
        <div class="col-sm-4 collapse multi-collapse" id="funciona">
          <p>
            <h3>¿como funciona?</h3>
            <p> escoje los soldadores que mas te guste</p>
          </p>
        </div>

         <div class="col-sm-4 collapse multi-collapse" id="voltios">
          <p>
            <h3>¿que voltios ofresen?</h3>
            <p> 110v a 220v</p>
          </p>
        </div>
         <div class="col-sm-4 collapse multi-collapse" id="pago">
          <p>
            <h3>¿como pago?</h3>
            <p> utiliza tu tarjeta favorita</p>
          </p>
        </div>
      </div>
       <br>
           <br>
           <br>
      


    
    <div class="container"></div>
    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>

    </span>
     <br>
           <br>
           <br>
    <footer>
      <div class="d-flex">
         <div class="col-sm-3 d-flex flex-column">
          <a href="http://www.facebook.com">facebook</a>
          <a href="http://www.instagram.com">instagram</a>
          <a href="http://www.twitter.com">twitter</a>

      </div>

       <div class="col-sm-4">
       <address>
        <h3>oficina central</h3>
         <p>calle zijweik 61 , san nicolaas,aruba</p>
         <p>+0122333444</p>
         <p> contacto@soldadores.com</p>
       </address>
     </div>

        <div class="col-sm-3 d-flex flex-column align-items-end">
          <a href="http://www.facebook.com">contactanos</a>
          <a href="http://www.instagram.com">ayuda</a>
          <a href="http://www.twitter.com">terminos y condiciones</a>
           


        


    </footer>
     

   <script src="node_modules/jquery/dist/jquery.min.js"></script>
   <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
   

   
   
  </body>
</html>  